<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<footer class="footer">
    <div class="footer_top">
      <div class="wrapper">
        <div class="footer_top_content">
          <p class="footer_top_title text_upper text_white text_montserrat">Recent News</p>
          <div class="news_block">
            <div class="news_block_img">
              <img src="assets/img/Layer22.jpg" alt="">
            </div>
            <div class="news_block_review">
              <a href="#">A Clean Website Gives More Experiance To The Visitors</a>
              <p class="date">Dec 12 - 2016</p>
            </div>
          </div>
          <div class="news_block">
            <div class="news_block_img">
              <img src="assets/img/Layer23.jpg" alt="">
            </div>
            <div class="news_block_review">
              <a href="#">A Clean Website Gives More Experiance To The Visitors</a>
              <p class="date">Dec 12 - 2016</p>
            </div>
          </div>
        </div>
        <div class="footer_top_content">
          <p class="footer_top_title text_upper text_white text_montserrat">Useful Links</p>
            <ul class="useful-links __left">
              <li><a href="#">Wev Design</a></li>
              <li><a href="#">About Firm</a></li>
              <li><a href="#">Mobile</a></li>
              <li><a href="#">Why Finance</a></li>
              <li><a href="#">Social Media</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
            <ul class="useful-links __right">
              <li><a href="#">Company</a></li>
              <li><a href="#">Latest Jobs</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Blog Posts</a></li>
              <li><a href="#">Help Topics</a></li>
              <li><a href="#">Policies</a></li>
            </ul>
        </div>
        <div class="footer_top_content">
          <p class="footer_top_title text_upper text_white text_montserrat">Mailing list</p>
          <p>Sign up for out mailing list to get latest updates and offers.</p>
          <form class="email_form" action="">
            <input class="email_form_text" type="text" placeholder="Email address">
            <input class="email_form_bottom" type="submit" value="">
          </form>
          <p>We respect your privacy</p>
          <div class="all_social_link">
            <ul>
              <li class="all_social_li"><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="all_social_li"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li class="all_social_li"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="all_social_li"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="all_social_li"><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li class="all_social_li"><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_top_content">
          <p class="footer_top_title text_upper text_white text_montserrat">About finance</p>
           <p>finance Website Builder is a big library of pre-designed web elements which help you create website in few minutes.</p>
            <hr class="hr_white">
              <div class="contact-info"><i class="far fa-envelope"></i><span>hello@finance.com</span></div>
                <hr class="hr_white">
                  <div class="contact-info"><i class="fas fa-phone"></i><span>P: 1234-4556-678</span></div>
                <hr class="hr_white">
              <div class="contact-info"><i class="fas fa-map-marker-alt"></i><span>12/4 Barnard St - Suite 888 <br>United Kingdom - GA 32323</span></div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="wrapper">
        <p class="footer_bottom_text text_upper">&copy; Themexpert 2016</p>
          <nav class="menu_footer_nav">
            <ul class="menu_footer_ul">
              <li class="menu_footer_li"><a href="#">About</a></li>
              <li class="menu_footer_li"><a href="#">Services</a></li>
              <li class="menu_footer_li"><a href="#">Portfolio</a></li>
              <li class="menu_footer_li"><a href="#">Blog</a></li>
              <li class="menu_footer_li"><a href="#">Contact</a></li>
            </ul>
          </nav>
      </div>
    </div>
</footer>

