<table class="clients" border="1" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <th>Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>IP Address</th>
  </tr>
  <tr *ngFor="let client of clients">
    <td valign="top">{{ client.first_name }}
      <button class="" (click)="deleteClient()">Delete</button>
    </td>
    <td valign="top">{{ client.last_name }}</td>
    <td valign="top">{{ client.email }}</td>
    <td valign="top">{{ client.gender }}</td>
    <td valign="top">{{ client.ip_address }}</td>
  </tr>
</table>
<div class="add_clients_block">
  <input type="text" class="" name="first_name" placeholder="Name client" [(ngModel)]="clientName">
  <button class="" (click)="addClient()">Add Client</button>
</div>
